<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Creator Name:</strong>
  <%= @event.creator.name %>
</p>

<p>
  <% if @event.attendees.length == 0 %>
    No one attending yet =(
  <% else %>
    <strong>Attendees:</strong>
    <% @event.attendees.each do |attendee| %>
      <p><%= attendee.name %> </p>

    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
