<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% unless session[:current_user].nil? %>
      <p>Currently signed in as: <%=session[:current_user]%></p>
      <p>Sign out <%= link_to 'Sign Out', "sessions/destroy" %></p>
      <p><%= link_to 'destroy', method: :delete, data: { confirm: 'Are you sure?' } %></p>


    <% else %>
      <p>Not signed in </p>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
